@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Squada+One&family=Ultra&display=swap');
.Nav{
    width: 80%;
    margin: auto;
    height: 10vh ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px double rgb(195, 188, 188) ;

    h2{
        font-family: "Dancing Script", cursive;
        font-size: 2rem;
        a{
            text-decoration: none;
            color: rgb(13, 1, 83);
        }
    }
    .profile{
        display: flex;
        gap: 10px;
        align-items: center;
        img{
            height:35px;
            width: 35px;
            object-fit: cover;
            border-radius: 50%;
            cursor: pointer;
        }
        
    }
}